* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #fff;
    color: black;
    margin: 0px; 
    min-height: 100;
   padding-bottom: 0;
    padding: 0px; 
}

.container {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0px;
    position: relative; 
}

nav img {
    width: 235px;
    height: 220px;
    display: block;
    position: relative;
    top: 50%;
    left: 48%;
    transform: translate(-45%, 15%);
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#sidemenu{
    margin-top: -42px;
    margin-right: 90px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

#sidemenu li {
    display: inline-block;
    margin-left: 20px;
    margin-top: -20px;
    text-decoration: none;
}

nav ul li a{
    color: black;
    margin-top: -20px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.header-text {
    text-align: center;
    margin-top: -10px;
    background-color: black;
    height: 35px;
}

.header-text p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 35px;
    color: #fff;
    animation: slide 10s linear infinite;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 110%;
}

/* searchbar css*/
.search{
    --padding:14px;
    width: max-content;
    
    display: flex;
    align-items: center;
    padding: var(--padding) ;
    border-radius: 28px;
    background: #f6f6f6;
    margin-top: 25px;
    margin-left: 15px;
    transition: background 0.5s; ;
    z-index: 1;
}
.search:focus-within{
background: #f1f1f1;
}
.search-input{
font-size: 16px;
font-family:'Lexend', sans-serif;
color: #333333;
margin-left: 10px;
outline: none;
border: none;
background: transparent;
width: 300px;
z-index: 1;
}
.search-input::placeholder,
    .search-icon{
    color: rgb(0, 0, 0.35);
    
}
/* slideshow */
* {box-sizing: border-box}
body {
    font-family: Verdana, sans-serif; margin:0
}
.mySlides {
    display: none
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width:850px;
  max-height: 1400px;
  position: relative;
 
  top: 425px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
/* jordans */
#projects{
    padding: 0px 0;
}
.sub-title{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
   
    margin-top: 190px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
border-radius: 10px;
position:relative;
overflow:hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: tranform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition:height 0.5s;
}
.layer h3{ 
    font-weight: 700;
margin-bottom: 20px;
color: #fff;
}
.layer p{
    color: #fff;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid black;
    padding: 14px 50px;
    border-radius: 6px;
color: black;
    text-decoration: none;
    transition: backround 0.5s;
}
.btn:hover{
    background: #ff004f;
}
/*   about section */
#about{
    color: black;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 40%;
}
.about-col-1 video{
    margin-top: -10px;
    width: 100%;
    height: 500px;
    border-radius: 30px;

}
.about-col-2{
    flex-basis: 55%;
}
.sub-title-about-title{
    font-size: 430x;
    white-space: nowrap;
   margin-left: 115px;
    font-weight: 200px;
    color: black;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
color: #ff004f;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tabs{
display: block;
margin-bottom: 0;
}

.about-text {
    font-size: 18px; 
    line-height: 1.2;
}
.red-text{
    color: #ff004f;
}
/* footer */
.footer{
    margin-bottom: 0px;
}
.footer-text {
    margin-top: auto;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    z-index: 1000; 
}


.footer-text p {
    font-size: 24px;
    margin-top: 0px;
    line-height: 35px;
    color: #fff;
    
}
.social-icons a {
    text-decoration: none;
    font-size: 32px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}
/* animation for top of the screen*/
@keyframes slide {
    0% {
        margin-left: -100%; /* Start off-screen to the left */
    }
    100% {
        margin-left: 120vh; /* Slide to the original position */
    }
}
/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
    /* Styles for screens smaller than 480px */
    body {
        font-size: 15px; /* Decrease font size for smaller screens */
    }
    .search-input {
        display: none; /* Hide search bar on small screens */
    }
    .fa-solid.fa-search.search-icon {
        display: none;
    }
    .container {
        padding: 0px;
    }
    #sidemenu li {
        color: white;
    }
    nav img {
    height: 200px;
        width: 100px; /* Decrease logo size */
        height: auto; /* Maintain aspect ratio */
        margin-top: 30px;
    }
    .header-text p {
        font-size: 12px; /* Decrease font size */
    }
    #sidemenu li {
        position: relative; /* Add this line */
        display: block;
        top: 40px;
        right: -50px;
        margin: 7px;
        font-size: 10px; /* Decrease font size */

      }
    .search-input {
        display: none;
    }
    .slideshow-container{
        max-width: 80%;
        position: relative;
        top: 190px;
    }
    .work img{
        width: 87%;
        border-radius: 10px;
        display: block;
        transition: tranform 0.5s;
    }

    .layer h3{ 
        margin-top: 14px;
        font-weight: 500px;
    margin-bottom: 20px;
    color: #fff;
    }
    .layer p{
        color: #fff;
        margin-bottom: 12px;
        font-size: 15px;
    }


    
    .about-text{
        max-width: 400px;
        font-size: 14px;
    }
    .about-col-1 video {
        height: 200px; /* Decrease video height */
    }
    .tab-links {
        font-size: 14px; /* Decrease font size */
    }
    .tab-contents ul li {
        font-size: 12px; /* Decrease font size */
    }
    .footer-text p {
        font-size: 18px; /* Decrease font size */
    }
}